# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.out.html

# Go workspace file
go.work
go.work.sum

# env file
.env

# MacOS
.DS_Store

# IDEs and editors
.idea
.vscode

# Observability data
data
